*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    padding: 50px 75px;
    grid-template-rows: auto auto;
    gap: 40px;
}

div.question{
    font-size: 30px;
}

div.guess{
    display: flex;
    gap: 25px;
    justify-self: center;
}
.guess input{
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 50px;
    text-align: center;
}

div.answers{
    display: none;
    font-size: 50px;
    list-style-position: inside;
}
.answers li{
    padding-bottom: 10px;
}