*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    grid-template-rows: auto auto;
    gap: 40px;
}

div.me{
    display: grid;
    justify-items: center;
    padding-top: 48px;
    gap: 32px;
}
input[type="file"]{
    display: none;
}
.me input.name{
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 24px;
}
label.imgEntry.pfp{
    display: grid;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: whitesmoke;
}
.imgEntry.pfp img{
    width: 200px;
    height: 200px;
    align-self: center;
    justify-self: center;
}
.imgEntry.pfp img.icon{
    width: 50px;
}
.pfp{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}
.me button.submit{
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 32px;
    background-color: lightgoldenrodyellow;
}
.inLobbyMessage{
    text-align: center;
}

#header{
    padding: 25px;
    display: grid;
    grid-template: 2fr 1fr / repeat(3, auto);
    grid-template-areas: 
        "leftQuote title rightQuote"
        "btmQuote btmQuote btmQuote";
        gap: 15px;
    justify-items: center;
    align-items: center;
}
#header .title{
    grid-area: title;
    font-size: 64px;
}
.quote.left{
    grid-area: leftQuote;
    rotate: -30deg;
}
.quote.right{
    grid-area: rightQuote;
    rotate: 30deg;
}

#lobby{
    display: grid;
    padding: 20vh 20vw;
    gap: 30px;
}
#lobby #playersDiv{
    display: grid;
    gap: 20px;
}
#lobby .player{
display: flex;
gap: 20px;
align-items: center;
font-size: 30px;
}

#statuses{
    padding: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
    opacity: 0.4;
}
#trivia{
    display: grid;
    padding: 25px;
    gap: 50px;
}
#trivia .question{
    font-size: 30px;
    text-align: center;
}
#trivia .guess{
    display: grid;
    gap: 25px;
    justify-self: center;
}
.guess input{
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 30px;
    text-align: center;
}
.guess button{
    font-size: 25px;
}

#trivia .answers{
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    justify-self: center;
    font-size: 50px;
    list-style-position: inside;
}
.answers button{
    width: 25vw;
    height: 25vw;
    justify-self: center;
    font-size: 48px;
}
.answers li{
    padding-bottom: 10px;
}